@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:400,300');

* {
    margin: 0 0 20px 0;
    padding: 0;
}

a {
    color: #00BFFF;
}

a:hover {
    color: #1E90FF;
}

.container {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}


/* Header with background image */
header {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/77/Osamu_Dazai.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -900px;
    height: 400px;
}    

#title {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1, header h2 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

header h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4em;
    padding-top: 0.5em;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}
/* Header end */

.section-header {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    margin: 2% 2% 0% 2%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#img-div {
    text-align: center;
    top: 30%;
    width: 100%;
}

.circle-border {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#img-caption {
    font-size: 12px;
    line-height: 10%;
}

.block {
    margin-left: 10px;
    background-color: #e4e4e4;
    padding: 2%;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(26, 20px);
    margin-left: 10%;
    margin-right: 10%;
}

.reference {
    font-weight: bold;
}

footer {
    font-size: 12px;
}